.container-icon-close{
	border-radius: 6px 6px 0px 0px;
	z-index: 2;

}



.app__background {
	background: url(https://jazzcasino.com/images/banners/landing-blackjack.jpg);
    background-position: center center;
    background-size: cover;
    filter: blur(8px) grayscale(0);
    height: -webkit-fill-available;
    position: absolute;
    width: 100%;
	z-index: -1;
	
}
.container-accordion{
	max-width: 100%;
}
.accordion-container{
  &__btn-acc {
    border: none;
    padding: 5px;
	padding-left: 15px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
	.container-ts{
		margin: 0 0 0.3rem 1rem ;
		h1{
			margin: 0 ;
		}
		h5{
			margin: 0 ;
			color: #9CA3AF;
		}
	}
	
  }
  .active {
  background-color: #ccc;
  }

  &__panel {
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.219), 0 6px 6pxrgba(0, 0, 0, 0.219);
  color: black;
  padding: 0 18px;
  background-color:  white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
 
	
  }

  .active:after {
  content: "\2796";
  }
}

.container-icon-close{
	display: none;
	color: #fffef3;
	background-color: #212529;
	.close-icon {
		display: flex;
		justify-content: right;
		
		.close-btn{
			filter: invert(1);
			padding: 0.4rem 1rem 0rem 1rem;
			transition: .3s;
			transform: scale(1);
		}
		.close-btn:hover{
			transform: scale(1.1);
		}
		svg{
			cursor: pointer;
			width: 28px;
		}
		
	}
}
